/*-----------------------------------
	Navbar 
-----------------------------------*/

.minicart{
	background:url(../images/sprite.png);
	background-position: -156px 11px;
	background-repeat:no-repeat;
	width: 40px;
	height: 50px;
	padding-right: 32px;
}

.navbar{
	background-color: #4ea6bc;
	padding: 15px ;
	border-radius: 0;
	margin: 0;
}

.navbar-brand{
	color: #fff;
	font-family: Open Sans, sans-serif;
	padding-left: 32px;
}

.navbar-brand:hover{
	color: #fff;
}

body {

	background: #FAFAFA;
	color: #000;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.429;
	margin: 0;
	padding: 0;
	
} 
html, body {

	width: 100%;
	height: 100%;
	margin: 0;	
	background: #F0F0F0;
	
} 
::selection {

	background: #A7A7A7; /* Safari */
	
} 
::-moz-selection {

	background: #A7A7A7; /* Firefox */
	
} 
 #about {
	float: left;
	position: relative;
	text-align: center;
	font-size: medium;
	width: 40%;
	padding: 20px;
	margin: 20px;
	/*background: rgb(54, 25, 25);
	background: rgba(240, 240, 240, .8);*/
}
 #about img {
	width: 200px;
	background-size: cover;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */  
} 
#content {
	float: right;
	font-size: 30px;
	width: 50%;
	margin: 30px;
  	text-align: left;
	padding: 50px;
	height: 50%;
}
#submit{
	background-color: #4ea6bc;
	font-size: 15px;
	border:solid #4ea6bc;
	margin-top: 30px;
	width: wrap;
  }